/LapTop.sql
/LapTop/.vs/LapTop/DesignTimeBuild/.dtbcache.v2
/LapTop/.vs/LapTop/v16/.suo
/LapTop/LapTop/Areas/Admin/Views/Sanpham/Edit.cshtml
/LapTop/LapTop/bin/Debug/net5.0/LapTop.dll
/LapTop/LapTop/bin/Debug/net5.0/LapTop.pdb
/LapTop/LapTop/bin/Debug/net5.0/LapTop.Views.dll
/LapTop/LapTop/bin/Debug/net5.0/LapTop.Views.pdb
/LapTop/LapTop/bin/Debug/net5.0/ref/LapTop.dll
/LapTop/LapTop/Controllers/HomeController.cs
/LapTop/LapTop/Models/Hoadon.cs
/LapTop/LapTop/obj/Debug/net5.0/LapTop.csproj.CoreCompileInputs.cache
/LapTop/LapTop/obj/Debug/net5.0/LapTop.csproj.FileListAbsolute.txt
/LapTop/LapTop/obj/Debug/net5.0/LapTop.dll
/LapTop/LapTop/obj/Debug/net5.0/LapTop.pdb
/LapTop/LapTop/obj/Debug/net5.0/LapTop.RazorCoreGenerate.cache
/LapTop/LapTop/obj/Debug/net5.0/LapTop.Views.dll
/LapTop/LapTop/obj/Debug/net5.0/LapTop.Views.pdb
/LapTop/LapTop/obj/Debug/net5.0/Razor/Areas/Admin/Views/Sanpham/Edit.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Aser/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Asus/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Chuot/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Dell/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/HP/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/SanPham/Details.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/SanPham/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/ref/LapTop.dll
/LapTop/LapTop/Views/Aser/Index.cshtml
/LapTop/LapTop/Views/Asus/Index.cshtml
/LapTop/LapTop/Views/Chuot/Index.cshtml
/LapTop/LapTop/Views/Dell/Index.cshtml
/LapTop/LapTop/Views/HP/Index.cshtml
/LapTop/LapTop/Views/SanPham/Details.cshtml
/LapTop/LapTop/Views/SanPham/Index.cshtml
/LapTop/LapTop/Views/Shared/_Layout.cshtml
/LapTop.sql
/LapTop/.vs/LapTop/DesignTimeBuild/.dtbcache.v2
/LapTop/.vs/LapTop/v16/.suo
/LapTop/LapTop/Areas/Admin/Views/Sanpham/Edit.cshtml
/LapTop/LapTop/bin/Debug/net5.0/LapTop.dll
/LapTop/LapTop/bin/Debug/net5.0/LapTop.pdb
/LapTop/LapTop/bin/Debug/net5.0/LapTop.Views.dll
/LapTop/LapTop/bin/Debug/net5.0/LapTop.Views.pdb
/LapTop/LapTop/bin/Debug/net5.0/ref/LapTop.dll
/LapTop.sql
/LapTop/.vs/LapTop/DesignTimeBuild/.dtbcache.v2
/LapTop/.vs/LapTop/v16/.suo
/LapTop/LapTop/Areas/Admin/Views/Sanpham/Edit.cshtml
/LapTop/LapTop/bin/Debug/net5.0/LapTop.dll
/LapTop/LapTop/bin/Debug/net5.0/LapTop.pdb
/LapTop/LapTop/bin/Debug/net5.0/LapTop.Views.dll
/LapTop/LapTop/bin/Debug/net5.0/LapTop.Views.pdb
/LapTop/LapTop/bin/Debug/net5.0/ref/LapTop.dll
/LapTop/LapTop/Controllers/HomeController.cs
/LapTop/LapTop/Models/Hoadon.cs
/LapTop/LapTop/obj/Debug/net5.0/LapTop.csproj.CoreCompileInputs.cache
/LapTop/LapTop/obj/Debug/net5.0/LapTop.csproj.FileListAbsolute.txt
/LapTop/LapTop/obj/Debug/net5.0/LapTop.dll
/LapTop/LapTop/obj/Debug/net5.0/LapTop.pdb
/LapTop/LapTop/obj/Debug/net5.0/LapTop.RazorCoreGenerate.cache
/LapTop/LapTop/obj/Debug/net5.0/LapTop.Views.dll
/LapTop/LapTop/obj/Debug/net5.0/LapTop.Views.pdb
/LapTop/LapTop/obj/Debug/net5.0/Razor/Areas/Admin/Views/Sanpham/Edit.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Aser/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Asus/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Chuot/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Dell/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/HP/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/SanPham/Details.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/SanPham/Index.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
/LapTop/LapTop/obj/Debug/net5.0/ref/LapTop.dll
/LapTop/LapTop/Views/Aser/Index.cshtml
/LapTop/LapTop/Views/Asus/Index.cshtml
/LapTop/LapTop/Views/Chuot/Index.cshtml
/LapTop/LapTop/Views/Dell/Index.cshtml
/LapTop/LapTop/Views/HP/Index.cshtml
/LapTop/LapTop/wwwroot/images/15fc93e6-b9ca-4bce-8da6-0cc96eb6e53f_5d013220-7eaa-4399-9903-610e2f24a06f_05339941-ad0e-4ad4-8380-7d563e13fab3_562a97d0-7c3a-4f78-9573-c6d7c6145281_c63d22ed-96b3-400d-8d2c-40dee0df8e55_02ecb17b-c268-49db-8ec0-075f640006ed_laptopGaming.png
/LapTop/LapTop/wwwroot/images/2550fa24-a000-4758-913f-e3c14367f604_5d013220-7eaa-4399-9903-610e2f24a06f_05339941-ad0e-4ad4-8380-7d563e13fab3_562a97d0-7c3a-4f78-9573-c6d7c6145281_c63d22ed-96b3-400d-8d2c-40dee0df8e55_02ecb17b-c268-49db-8ec0-075f640006ed_laptopGaming.png
/LapTop/LapTop/wwwroot/images/2fc18e5f-6723-4120-b258-47b07d8f5956_5d013220-7eaa-4399-9903-610e2f24a06f_05339941-ad0e-4ad4-8380-7d563e13fab3_562a97d0-7c3a-4f78-9573-c6d7c6145281_c63d22ed-96b3-400d-8d2c-40dee0df8e55_02ecb17b-c268-49db-8ec0-075f640006ed_laptopGaming.png
/LapTop/LapTop/wwwroot/images/34f74c4c-1b6e-4887-877d-40af8a8b0d2a_5d013220-7eaa-4399-9903-610e2f24a06f_05339941-ad0e-4ad4-8380-7d563e13fab3_562a97d0-7c3a-4f78-9573-c6d7c6145281_c63d22ed-96b3-400d-8d2c-40dee0df8e55_02ecb17b-c268-49db-8ec0-075f640006ed_laptopGaming.png
/LapTop/LapTop/wwwroot/images/42d98a94-5101-4bff-8ae0-64f60dae4cc8_asus4.jpg
/LapTop/LapTop/wwwroot/images/5128c525-2f45-43a0-b23a-e58092d74e25_5d013220-7eaa-4399-9903-610e2f24a06f_05339941-ad0e-4ad4-8380-7d563e13fab3_562a97d0-7c3a-4f78-9573-c6d7c6145281_c63d22ed-96b3-400d-8d2c-40dee0df8e55_02ecb17b-c268-49db-8ec0-075f640006ed_laptopGaming.png
/LapTop/LapTop/wwwroot/images/951986fb-923f-4690-8167-04616b605585_asus2.jpg
/LapTop/LapTop/wwwroot/images/952d14f8-02b9-4520-835e-aa597546e93b_asus4.jpg
/LapTop/LapTop/wwwroot/images/96b1f387-af13-4aff-8077-f12853d6933b_HC10-6.jpg
/LapTop/LapTop/wwwroot/images/e8b7e3c7-ed6c-4a11-b7fb-7d787c0fb9fe_5d013220-7eaa-4399-9903-610e2f24a06f_05339941-ad0e-4ad4-8380-7d563e13fab3_562a97d0-7c3a-4f78-9573-c6d7c6145281_c63d22ed-96b3-400d-8d2c-40dee0df8e55_02ecb17b-c268-49db-8ec0-075f640006ed_laptopGaming.png
/LapTop/LapTop/wwwroot/images/ea374991-fb82-4ea5-9c90-b9dec0549dcf_5d013220-7eaa-4399-9903-610e2f24a06f_05339941-ad0e-4ad4-8380-7d563e13fab3_562a97d0-7c3a-4f78-9573-c6d7c6145281_c63d22ed-96b3-400d-8d2c-40dee0df8e55_02ecb17b-c268-49db-8ec0-075f640006ed_laptopGaming.png
